.create_post_container {
  width: 700px;
  margin-top: 10px;
  background: #27292d;
  border: 2px solid #35373b;
  border-radius: 8px;
  padding: 24px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.welcome_container {
  width: 700px;
  margin-top: 10px;
  height: 100px;
  margin-top: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.welcome_container > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  color: #c5c7ca;
}
.welcome_container > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #7f8084;
}
.profile_info {
  display: flex;
  height: 58px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 22px;
}
.profile_info > p {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  background-color: #4a96ff;
}
.profile_username {
  margin-left: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #c5c7ca;
}
.create_post {
  width: 660px;
  height: 78px;
  background: #191920;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.create_post_heding {
  color: #c5c7ca;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.create_post_input {
  background: #191920;
  border: none;
  margin-left: 20px;
  width: 300px;
  color: #c5c7ca;
}
input:focus {
  outline: none;
}
.create_post_btn {
  width: 660px;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  height: 45px;
}
.post_btn {
  width: 111px;
  height: 43px;
  border-radius: 4px;
  color: white;
  border: none;
  background: #4a96ff;
  border-radius: 4px;
}
.posts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
  line-height: 150%;
  /* or 24px */
  color: #7f8084;
}
